<!-- Footer -->
<footer class="page-footer fs-6">

    <!-- Divider-Footer-->
    <!-- <div class="footer-divider"></div> -->

    <!-- Grid row-->
    <div class="row d-flex text-center justify-content-center mb-md-0 mb-4">

      <!-- Grid column -->
      <div class="col-12">
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem
          accusantium doloremque laudantium, totam rem
          aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
          explicabo.
          Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur.</p>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

    <!-- Grid row-->
    <div class="row pb-3">

      <!-- Grid column -->
        <div class="col-md-12">

            <div class="mb-5 d-flex flex-lg-row justify-content-lg-start ms-5">

                <!-- Facebook -->
                <a class="fb-ic"><i class="bi bi-facebook bi-lg me-3"></i></a>
                <!-- Twitter -->
                <a class="tw-ic"><i class="bi bi-twitter bi-lg  me-3"></i></a>
                <!-- Google +-->
                <a class="gplus-ic"><i class="bi bi-google bi-lg me-3"></i></a>
                <!--Linkedin -->
                <a class="li-ic"><i class="bi bi-linkedin bi-lg me-3"></i></a>
                <!--Instagram-->
                <a class="ins-ic"><i class="bi bi-instagram bi-lg me-3"></i></a>
                <!--telegram-->
                <a class="tel-ic"><i class="bi bi-telegram bi-lg me-3"></i></a>

            </div>

        </div>
        <!-- Grid column -->

    </div>
    <!-- Grid row-->


    <!-- <div class="footer-divider"></div> -->

    <!-- Footer Links -->
    <div class="container">

        <!-- Flex row-->
        <div class="d-flex flex-xl-row flex-xxl-row justify-content-xxl-end justify-content-xxl-end justify-content-md-center gap-3 pt-5 mb-3">
            <div class="mb-3">
                <a class="text-uppercase font-weight-bold" routerLink="/home" routerLinkActive="active">Home</a>
        </div>

            <div class="mb-3">
            <a class="text-uppercase font-weight-bold" routerLink="/aboutUs" routerLinkActive="active">About us</a>
            </div>

            <div class="mb-3">
                <a class="text-uppercase font-weight-bold" routerLink="" routerLinkActive="active">Privacy & Disclaimer</a>
            </div>

            <div class="mb-3">
                <a class="text-uppercase font-weight-bold" routerLink="" routerLinkActive="active">Doctors</a>
            </div>

            <div class="mb-3">
                <a href="#!"  class="text-uppercase font-weight-bold" routerLink="/contactUs" routerLinkActive="active">Contact Us</a>
            </div>

            <div class="mb-3">
                <a  class="text-uppercase font-weight-bold" routerLink="/location" routerLinkActive="active">Locations</a>
            </div>

            <div class="mb-3">
                <a class="text-uppercase font-weight-bold" routerLink="/payment" routerLinkActive="active">Payment</a>
            </div>
            <div class="mb-3">
                <a class="text-uppercase font-weight-bold" routerLink="/appointment" routerLinkActive="active">Book Appointment</a>
            </div>
            <div class="mb-3">
                <a  class="text-uppercase font-weight-bold" routerLink="/register" routerLinkActive="active">Registration</a>
            </div>

        </div>
    </div>
    
    <!-- <div class="footer-divider"></div> -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
    </div>

</footer>
<!-- Footer -->