<header>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-lg-top ps-xl-5 pe-xl-5">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/home" routerLinkActive="active" >DENTAL ClINIC</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="float-xxl-end"> 
            <div class="collapse navbar-collapse d-lg-inline-flex" id="navbarScroll">
                <ul class="navbar-nav me-auto my-2 my-lg-0 text-primary">
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" aria-current="page" routerLink="/locations" routerLinkActive="active">Locations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/payment" routerLinkActive="active">Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/review" routerLinkActive="active">review</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-uppercase" routerLink="/appointment" routerLinkActive="active">Appoinment</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-uppercase" data-bs-toggle="dropdown" aria-expanded="false">
                        Services
                        </a>
                        <ul class="dropdown-menu dropdown-menu-lg-end" aria-labelledby="navbarScrollingDropdown">
                            <li><a class="dropdown-item text-uppercase" href="#">Cosmetic dentistry</a></li>
                            <li><a class="dropdown-item text-uppercase" href="#">personal dentistry</a></li>
                            <li><a class="dropdown-item text-uppercase" href="#">restorative dentistry</a></li>
                            <li><a class="dropdown-item text-uppercase" href="#">preventive dentistry</a></li>
                            <li><a class="dropdown-item text-uppercase" href="#">TMJ & Sleep dentistry</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-uppercase" href="#">advanced technology</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  text-uppercase" routerLink="/login" routerLinkActive="active" >Login</a>
                    </li>
                </ul>

            </div>
        </div>
    </nav>
</header>